* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif; //'Roboto', sans-serif;
  /*font-family: "Heebo", sans-serif;*/
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  background: #fff;
}
